@import "./global.css";
@import "./partials/global.social-nav.css";
@import "./partials/global.header-nav.css";
@import "./partials/contacts.hero.css";
@import "./partials/global.callbar.css";
@import "./partials/global.footer.css";