<section>
  <div class="timeline">
    <div class="timeline__header">
      <h2>Історія співпраці людей і єнотів</h2>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1920.webp"
          alt="1920 рік: Перший контакт"
        />
      </div>
      <div class="timeline__text">
        <h3>1920 рік: Перший контакт</h3>
        <p>
          У 1920 році в лісах Північної Америки відбувся перший документально
          підтверджений контакт між людьми та розумними єнотами. Це сталося,
          коли група дослідників натрапила на поселення єнотів, які
          використовували примітивні знаряддя праці та спілкувалися за допомогою
          складних звукових сигналів. Люди були вражені їхніми здібностями, а
          єноти, у свою чергу, виявили цікавість до людської культури. Цей
          момент став початком довгого шляху взаємного пізнання.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1925.jpg"
          alt="1925 рік: Перший договір"
        />
      </div>
      <div class="timeline__text">
        <h3>1925 рік: Перший договір</h3>
        <p>
          У 1925 році було підписано перший офіційний договір між людьми та
          єнотами, який гарантував останнім право на їхні землі та обіцяв
          взаємну підтримку. Цей документ став символом визнання єнотів як
          розумних істот. Люди почали навчати єнотів своїм технологіям, а єноти
          поділилися знаннями про природу. Проте не всі люди підтримали цей
          союз, і деякі групи продовжували ставитися до єнотів з підозрою.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1933.webp"
          alt="1933 рік: Перша школа для єнотів"
        />
      </div>
      <div class="timeline__text">
        <h3>1933 рік: Перша школа для єнотів</h3>
        <p>
          У 1933 році в Канаді відкрилася перша школа для єнотів, де вони
          вивчали людську мову, математику та науки. Це був великий крок у їхній
          інтеграції в суспільство. Єноти швидко демонстрували свої здібності,
          особливо в галузі мистецтва та інженерії. Школа стала символом
          прогресу та співпраці між видами. Проте деякі люди вважали, що єноти
          не повинні отримувати таку ж освіту, як і вони.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1945.jpg"
          alt="1945 рік: Єноти під час Другої світової війни"
        />
      </div>
      <div class="timeline__text">
        <h3>1945 рік: Єноти під час Другої світової війни</h3>
        <p>
          Під час Другої світової війни єноти взяли активну участь у бойових
          діях, використовуючи свої навички для розвідки та саботажу. Їхня
          здатність до маскування та швидкого навчання робила їх цінними
          союзниками. Після війни єноти вимагали визнання своїх заслуг і рівних
          прав. Це призвело до перших законодавчих змін, які наблизили їх до
          повноправного членства в суспільстві.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1957.jpg"
          alt="1957 рік: Перший єнот-політик"
        />
      </div>
      <div class="timeline__text">
        <h3>1957 рік: Перший єнот-політик</h3>
        <p>
          У 1957 році єнот на ім'я Ріккі Тамблс став першим представником свого
          виду, обраним до місцевого парламенту в США. Його кампанія була
          зосереджена на екології та правах тварин, що привернуло увагу багатьох
          людей. Ріккі довів, що єноти можуть бути ефективними лідерами. Його
          обрання стало важливим кроком у боротьбі за рівність.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1969.jpg"
          alt="1969 рік: Єноти в космосі"
        />
      </div>
      <div class="timeline__text">
        <h3>1969 рік: Єноти в космосі</h3>
        <p>
          У 1969 році єнот на ім'я Зоряний Боб став першим представником свого
          виду, який побував у космосі. Цей історичний політ став символом
          прогресу та співпраці між людьми та єнотами. Зоряний Боб довів, що
          єноти здатні до найскладніших завдань. Його подвиг надихнув мільйони і
          став важливим етапом у визнанні єнотів як повноправних членів
          суспільства.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1978.jpg"
          alt="1978 рік: Перший єнот-лауреат Нобелівської премії"
        />
      </div>
      <div class="timeline__text">
        <h3>1978 рік: Перший єнот-лауреат Нобелівської премії</h3>
        <p>
          У 1978 році єнот-вчений на ім'я Альберт Віскерс отримав Нобелівську
          премію з фізіології за відкриття в галузі нейробіології. Це стало
          історичним моментом, який остаточно зруйнував стереотипи про єнотів.
          Альберт довів, що єноти здатні до найвищих інтелектуальних досягнень.
          Його робота надихнула нове покоління єнотів-вчених.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1985.jpg"
          alt="1985 рік: Єноти в мистецтві"
        />
      </div>
      <div class="timeline__text">
        <h3>1985 рік: Єноти в мистецтві</h3>
        <p>
          У 1985 році єнот-художник на ім'я Луна Свіфт представила свою виставку
          в Нью-Йорку, яка здобула міжнародне визнання. Її роботи, що поєднували
          елементи природи та абстракції, стали символом культурного обміну між
          людьми та єнотами. Луна довела, що мистецтво не має меж. Її творчість
          надихнула багатьох на новий погляд на світ.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/1992.jpg"
          alt="1992 рік: Єноти в спорті"
        />
      </div>
      <div class="timeline__text">
        <h3>1992 рік: Єноти в спорті</h3>
        <p>
          У 1992 році єнот-спортсмен на ім'я Блінкі Стрітс став чемпіоном світу
          з бігу на короткі дистанції. Його швидкість та спритність вразили весь
          світ. Блінкі довів, що єноти можуть досягати вершин у спорті. Його
          перемога стала символом рівності та натхнення для молодих єнотів.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/2001.jpg"
          alt="2001 рік: Єноти в технологіях"
        />
      </div>
      <div class="timeline__text">
        <h3>2001 рік: Єноти в технологіях</h3>
        <p>
          У 2001 році єнот-програміст на ім'я ТікТак розробив революційний
          алгоритм штучного інтелекту, який змінив галузь інформаційних
          технологій. Його робота довела, що єноти можуть бути лідерами в
          інноваціях. ТікТак став символом прогресу та натхнення для нових
          поколінь. Його відкриття зблизило світи людей та єнотів.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/2010.jpg"
          alt="2010 — Єноти в бізнесі"
        />
      </div>
      <div class="timeline__text">
        <h3>2010 — Єноти в бізнесі</h3>
        <p>
          Єноти почали створювати власні компанії та стартапи, пропонуючи
          інноваційні рішення для різних галузей. Деякі з них відкрили
          ресторани, де подавали страви, приготовані єнотами-шефами. Інші
          спеціалізувалися на екологічних технологіях, допомагаючи боротися зі
          змінами клімату. Їхня природна кмітливість і спритність дозволили їм
          швидко зайняти місце у світі бізнесу.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/2015.jpg"
          alt="2015 рік: Єноти в культурі"
        />
      </div>
      <div class="timeline__text">
        <h3>2015 рік: Єноти в культурі</h3>
        <p>
          У 2015 році єнот-режисер на ім'я Сем Сільвер створив фільм, який
          отримав "Оскар". Його робота, що розповідала про дружбу між людьми та
          єнотами, стала міжнародним хітом. Сем довів, що єноти можуть бути
          майстрами кіно. Його фільм надихнув мільйони на новий погляд на світ.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/2020.jpg"
          alt="2020 рік: Єноти в науці"
        />
      </div>
      <div class="timeline__text">
        <h3>2020 рік: Єноти в науці</h3>
        <p>
          У 2020 році єнот-вчений на ім'я Доктор Віттс розробив вакцину, яка
          врятувала мільйони життів під час пандемії. Його робота довела, що
          єноти можуть бути лідерами в науці. Доктор Віттс став символом надії
          та прогресу. Його відкриття зблизило світи людей та єнотів.
        </p>
      </div>
    </div>

    <div class="timeline__item">
      <div class="timeline__image">
        <img
          class="timeline__img"
          src="./img/about-us/2023.jpg"
          alt="2023 рік: Єноти як повноправні члени суспільства"
        />
      </div>
      <div class="timeline__text">
        <h3>2023 рік: Єноти як повноправні члени суспільства</h3>
        <p>
          У 2023 році єноти остаточно стали повноправними членами суспільства, з
          рівними правами та можливостями. Вони активно беруть участь у всіх
          сферах життя, від науки до мистецтва. Їхній шлях від лісових поселень
          до глобальної інтеграції став прикладом для всіх. Єноти довели, що
          різноманітність є силою, а співпраця між видами може змінити світ на
          краще.
        </p>
      </div>
    </div>
  </div>
</section>
