<section class="advances">
  <div class="advances__header">
    <h2 class="advances__title">Обравши наших єноти ви отримаєте:</h2>
  </div>
  <div class="advances__content">
    <div class="advances__item">
      <div class="advances__icon">
        <img src="../../img/index/raccoon-housekeeper.jpg" alt="raccoon-housekeeper" />
      </div>
      <div class="advances__textbox">
        <h3 class="advances__subtitle">Вільний час у дома</h3>
        <p class="advances__text">
          - Єноти-кухарі вміють готувати смачні страви та завжди додають секретний інгредієнт – любов. 🍽️❤️ <br>
          - Єноти-прибиральники ретельно чистять кожен куточок дому, залишаючи після себе тільки блиск і порядок. 🧹✨<br>
          - Єноти-няні дбайливо піклуються про дітей, розважаючи їх цікавими іграми та казками. 👶📖<br>
          - Єноти-двірники підтримують чистоту навколо будинку, збираючи листя та сміття з максимальною ефективністю. 🍂🗑️<br>
          
        </p>
      </div>
    </div>
    <div class="advances__item">
        <div class="advances__icon">
          <img src="./img/index/raccoon-worker.jpg" alt="raccoon-worker" />
        </div>
        <div class="advances__textbox">
          <h3 class="advances__subtitle">Розвиток вашого бізнесу</h3>
          <p class="advances__text">
             - Єноти-бухгалтери швидко та точно рахують фінанси, знаходячи навіть найменші неточності в звітах. 📊🦝💰<br>
            - Єноти-менеджери ефективно керують командами, мотивуючи працівників і знаходячи вихід з будь-якої ситуації. 📅📞<br>
            - Єноти-будівельники працюють без втоми, створюючи надійні конструкції та ремонтуючи все, що потрібно. 🏗️🔨<br>
            
            - Єноти-кур’єри швидко доставляють посилки, адже їхня спритність не має меж. 📦🚴‍♂️<br>
            - Єноти-програмісти пишуть чистий код і знаходять баги швидше, ніж будь-який тестувальник. 💻🐾<br>
           
          </p>
        </div>
      </div>
      <div class="advances__item">
        <div class="advances__icon">
          <img src="../../img/index/raccoon-teacher.jpg" alt="raccoon-teacher" />
        </div>
        <div class="advances__textbox">
          <h3 class="advances__subtitle">Нові знання і навики</h3>
          <p class="advances__text">
            - Єноти-вчителі цікаво пояснюють матеріал, використовуючи інтерактивні методи та багато наочності. 📚🦝🎓<br>
            - Єноти-репетитори підлаштовуються під кожного учня, пояснюючи складні теми простою мовою. ✏️🧠<br>
            - Єноти-професори проводять глибокі наукові дослідження та пишуть праці, що змінюють світ. 🔬📖<br>
            - Єноти-тренери допомагають підтримувати фізичну форму, мотивуючи до нових спортивних досягнень. 🏋️‍♂️🏆<br>
            
          </p>
        </div>
      </div>
  </div>
</section>
