<section>
  <div class="Coctacts__container">
    <div class="image__container">
      <img class="contacts__image"
        src="./img/contacts/contacts-map.jpg"
        alt="Карта розташування Спілки Працьовитих Єнотів"
      />
    </div>
    <div class="contact-form__container">
      <h2 class="contacts__subtitle">Спілка Працьовитих Єнотів 🦝💼</h2>
      <p class="contacts__subtitle">Разом до успіху!</p>
      <address class="contacts__text">
        <p>
          📍 <strong>Адреса:</strong> Вул. Лісова, 17, Місто Єнотоград, 54321<br />
          📞 <strong>Телефон:</strong>
          <a  class="link" href="tel:+38095 555 55 55">+380 (95) 555-55-55</a><br />
          📧 <strong>Email:</strong>
          <a class="link" href="mailto:contact@enotunion.com">contact@enotunion.com</a><br />
          🌍 <strong>Вебсайт:</strong>
          <a class="link" href="https://www.enotunion.com" target="_blank"
            >www.enotunion.com</a
          >
        </p>
      </address>
      <h3>Про нас:</h3>
      <p>
        Спілка Працьовитих Єнотів – це команда ентузіастів, які об’єднують
        зусилля для розвитку бізнесу, креативних ініціатив та співпраці. Ми
        віримо, що наполегливість і дружба – запорука успіху!
      </p>
    </div>
  </div>
</section>
