<nav class="header__nav">
  <div class="header__logo">
    <a class="header__logo-link" href="index.html">
      <img
        class="header__logo-img"
        src="img/header/raccoon-logo.png"
        alt="SPE-logo"
        width="120"
      />
    </a>
  </div>
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <a class="header__nav-link" href="index.html">Обери собі єнота</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="why-raccoons.html">Чому єноти</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="about-us.html">Про нас</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="contacts.html">Контакти</a>
    </li>
  </ul>
</nav>
