<nav>
  <div class="footer__margin"></div>
  <div class="footer__image"></div>
  <div class="footer__navbar">
    <ul class="footer__nav-list">
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="index.html">Головна</a>
      </li>

      <li class="footer__nav-item">
        <a class="footer__nav-link" href="choose-a-raccoon.html"
          >Обери собі єнота</a
        >
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="why-raccoons.html">Чому єноти</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="about-us.html">Про нас</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="contacts.html">Контакти</a>
      </li>
    </ul>
  </div>
</nav>
