<nav class="header">
  <div class="header-container">
    <div class="header__logo">
      <a class="header__logo-link" href="index.html">
        <img
          class="header__logo-img"
          src="img/header/raccoon-logo.png"
          alt="SPE-logo"
          width="120"
        />
      </a>
    </div>
    <button class="header__burger" aria-label="Toggle menu">
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="choose-a-raccoon.html"
            >Обери собі єнота</a
          >
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="why-raccoons.html">Чому єноти</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="about-us.html">Про нас</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="cart.html"> 
            🛒 <span id="cart-count">0</span>
        Кошик</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="contacts.html">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
